target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.idea/
.DS_Store
.#*
*.swp
Mackup/.vim/bundle/*
*~
Mackup/.emacs.a/elpa/
Mackup/.emacs.d/auto-save-list/
Mackup/.emacs.d/recentf
Mackup/.spacemacs.d/node_modules
Mackup/.spacemacs.d/.spacemacs.env
Mackup/.spacemacs.d/recentf
Mackup/.spacemacs.d/custom.el
Mackup/Library/Rime/user.yaml
