[core]
	editor = vim
[user]
	name = zhengc
	email = zhengc@peoplecommnue.com
[merge]
	tool = vimdiff
[alias]
	unstage = reset HEAD --
    gc = git commit -m 
	last = log -1 HEAD
	st = status
	co = checkout
	br = branch
	ci = commit
    pl = pull
    ps = push 
	l = log --abbrev-commit --graph
[pull]
	rebase = false
